<div id="<%= dom_id profile %>">
  <p>
    <strong>Name:</strong>
    <%= profile.name %>
  </p>

  <p>
    <a href=<%= profile.youtube %>>Youtube:</a>
    
  </p>

  <p>
    <a href=<%= profile.twitter %>>Twitter:</a>
  </p>

  <p>
    <a href="mailto:<%= profile.email %>">Email:</a>
  </p>

</div>
